@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #6584c2;
  --bg-color: #f2f3f8;
  --main-blue: #4b72b7;
  --main-red: #dd5859;
  --main-green: #64b249;
  --main-yellow: #ffe500;
  --main-orange: #f4981a;
  --main-cyan: #4eb1db;
  --main-pink: #ec659c;
  --secondary-blue: #e4e8f6;
  --secondary-red: #fce3e4;
  --secondary-green: #e8edb7;
  --secondary-yellow: #fff9e1;
  --secondary-orange: #ffeed8;
  --secondary-cyan: #ebf7fe;
  --secondary-pink: #f6c5d8;
}

@each $color in "blue", "red", "green", "yellow", "orange", "cyan", "pink" {
  .#{$color}-text {
    color: var(--main-#{$color});
  }
  .#{$color}-bg {
    background-color: var(--main-#{$color});
  }
  .#{$color}-bg-light {
    background-color: var(--secondary-#{$color});
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
}

span {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.main-logo {
  width: 30px;
  height: 30px;
  background-image: url("./assets/freelancers-logo.png");
}

.main-color {
  color: var(--main-color);
}

.main-color-hover:hover {
  color: var(--main-color);
}

.bg-main-color {
  background-color: var(--main-color);
}

.bg-color {
  background-color: var(--bg-color);
}

.active {
  color: var(--main-color);
  border-top: 4px solid var(--main-color);
}

.h-min {
  min-height: 600px;
}

.main-container {
  max-width: 1173px;
}

.grid-container {
  display: grid;
  grid-template-columns: 36px 156px 104px 52px 64px 72px 70px 100px 84px 48px 40px 60px 124px 50px 85px;
  gap: 2px;
}
